{% extends 'Posts\Base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<body class="bg-light" >
<div class="container mb-5 mt-5 col-md-4" >
	
		
		<div class="card shadow">
			<div class="card-header">
				<h5 class="">Request Password Reset</h5>
			</div>
			
			
				
				<form method="POST" class="was-validated">
					<div class="card-body">
					{% csrf_token %}
					<div class="content-section">
						{{ form|crispy }}
					</div>
							
					</div>

				<div class="card-footer">
					<button class="btn btn-primary" type="submit">Request Password Reset</button>
				</div>
				</form>
			</div>
			

		</div>
	

<pre></pre>
</body>
{% endblock content %}