{% extends 'Posts\Base.html' %}
{% block content %}

  



  
<style>
  .div1{
    opacity:1.0;
  }
  .div1:hover{
    
    background-color: lightblue;
    
  }
</style>





 <!-- Image element - set the background image for the header in the line below      https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg-->
  <div>
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->

	<img src="https://image.rush49.com/web-images/contact-us-banner.jpg" style="height: 280px; width:1400px">
	</div>
	<div class="container" style=" margin-top: -45px; ">
	<div class="row">
      <div class="col ">
      <div class="div1 card" style="border: 2px solid lightgrey; width: 320px;">
        <img class="card-img-top" src="https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Bologna">
        <div class="card-body text-center">
          <img class="avatar rounded-circle" src="/media/IMG-20180824-WA0010.jpg" alt="Bologna" style="border: 0.3rem solid rgba(#fff, 0.3);margin-top: -7rem;margin-bottom: 1rem;width: 120px; height: 120px;">
          <h4 class="card-title">Vanitha N.</h4>
          <h6 class="card-subtitle mb-2 text-muted">Software Developer</h6>
          <small class="text-muted">Design Architect, Feasibility Study., UI Developer</small>
          
        </div>
      </div>
    </div>

  <div class="col-sg-6" >
      <div class="div1 card" style="border: 2px solid lightgrey; width: 320px;">
        <img class="card-img-top" src="https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Bologna">
        <div class="card-body text-center">
          <img class="avatar rounded-circle" src="/media/signature.jpg" alt="Bologna" style="border: 0.3rem solid rgba(#fff, 0.3);margin-top: -7rem;margin-bottom: 1rem;width: 120px; height: 120px;">
          <h4 class="card-title">Kumara V.</h4>
          <h6 class="card-subtitle mb-2 text-muted">Software Developer</h6>
          <small class="text-muted">Code Analysis, Database Designer</small>
            
          
        </div>
      </div>
    </div>
  
    
   
   
</div>
<center>
<div class="col-md-6">
 
    <div class="card mt-5" style="border: 2px solid lightgrey;">
      <!-- Header -->
     
    <button class="btn btn-primary">Send Query</button>
     
    </div>
    </div>
</center>

</div>
</br>


{% endblock content %}